/* 4 - external css */
body {
  padding-bottom: 500px;
}

h3 {
	color: green;
}

/* 5 - ordem do css */
p {
  color: blueviolet;
}

/* 7 - classes */
.paragraph {
  background-color: #000;
  color: aqua;
  padding: 5px;
}

/* 8 - IDs */
#exclusive-title {
  background-color: purple;
  color: yellow;
  padding: 10px;
  font-size: 40px;
}

/* 9 - ordem dos seletores */
h2 {
  border-bottom: 2px solid red;
}

.titulo {
  border-bottom: 3px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}