/* 4 - external css */
body {
  padding-bottom: 500px;
}

h3 {
	color: green;
}

/* 5 - ordem do css */
/* p {
  color: blueviolet;
} */

/* 7 - classes */
.paragraph {
  background-color: #000;
  color: aqua;
  padding: 5px;
}

/* 8 - IDs */
#exclusive-title {
  background-color: purple;
  color: yellow;
  padding: 10px;
  font-size: 40px;
}

/* 9 - ordem dos seletores */
/* h2 {
  border-bottom: 2px solid red;
} */

.titulo {
  border-bottom: 3px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}

/* 10 - nome de cor */
.color-name {
	color: crimson;
}

/* 11 - cores hexadecimais */
.color-hex {
	color: #55a398;
}

.color-hex2 {
	color: #0f1f5f;
}

/* 12 - mais sobre hexadecimal */
.simple-hex {
	/* color: #555555; */
	color: #555;
}

.simple-hex2 {
	/* color: #aa55ff; */
	color: #a5f;
}

/* 13 - rgb */
.rgb {
  color: rgb(255, 0, 0);
}

.mixed-rgb2 {
  color: rgb(97, 0, 84);
}

/* 14 - rgba */
.rgba {
  color: rgba(156, 6, 6, 0.3);
}

/* 15 - hsl */
.hsl {
  color: hsl(100, 38%, 22%);
}

.hsl2 {
  color: hsl(255, 60%, 44%);
}

/* 16 - background-color */
.bg {
  background-color: #000;
  color: #ff0;
}

.bg2 {
  background-color: rgb(200, 20, 40);
  color: #00eaff;
}

/* 17 - opacity no background */
.bg-opacity {
  /* o opacity altera tanto a opacidade do background como a opacidade da cor da fonte */
  background-color: #0f0;
  opacity: .2;
}

.bg-opacity2 {
  background-color: #999;
  color: #000;
  opacity: .8;
}

/* 18 - rgba com opacidade */
.rgba-opacity {
  /* o rgba muda apenas a opacidade do background, mantendo a cor da fonte */
  background-color: rgba(90, 120, 20, 0.2);
  color: #000;
}

/* 19 - background-images */
.bg-image {
  background-image: url("./img/nature.jpg");
  color: #fff;
  padding: 10px;
}

/* 20 - centralizar img de background */
.not-centered-bg,
.centered-bg {
  height: 400px;
  width: 400px;
  background-image: url("./img/bridge.jpg");
}

.centered-bg {
  background-position: center;
  background-size: cover;
}

/* 21 - altura e largura */
.height-width {
  height: 200px;
  width: 100px;
  background-color: #f00;
}

.height-width2 {
  height: 300px;
  background-color: #333;
}

/* 22 - padding */
.without-padding,
.padding {
  background-color: #111;
  color: #fff;
}

.padding {
  background-color: #333;
  padding: 20px;
}

/* 23 - padding individual */
.padding-individual {
  background-color: #222;
  color: #fff;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
}

/* 24 - shorthand padding */
.shorthand-padding {
  background-color: #444;
  /* top, right, bottom, left */
  padding: 6px 12px 18px 24px;
}

.shorthand-padding2 {
  background-color: #555;
  /* top/bottom, left/right */
  padding: 10px 20px;
  /* padding: 10px 20px 10px 20px; */
}

/* 25 - padding com width (border-box) */
.without-border-box,
.border-box {
  background-color: #444;
  color: #fff;
  width: 400px;
  padding: 50px;
  /* nesse caso a largura fica com um total de 500px */
}

.border-box {
  background-color: #666;
  box-sizing: border-box;
  /* o border-box faz com que a caixa respeite a largura definida */
}

/* 26 - border */
.border {
  border: 5px, solid #f00;
  padding: 10px;
}

.border2 {
  border: 2px dotted #931;
  padding: 25px;
}

/* 27 - bordas de lados individuais */
.border-left {
  border-left: 3px solid #f00;
  background-color: #222;
  padding: 25px;
}

.border-bottom {
  border-bottom: 10px double #399;
  background-color: #555;
  padding: 25px;
}

/* 28 - borda arredondada */
.rounded-p {
  border: 4px solid #00f;
  background-color: #000;
  color: #fff;
  padding: 15px;
  border-radius: 15px;
}

.rounded-p2 {
  background-color: #000;
  color: #fff;
  padding: 15px;
  border-radius: 25px;
}

/* 29 - margem */
.margin {
  margin: 10px;
  background-color: #222;
  color: #fff;
}

.margin-top {
  margin-top: 50px;
  background-color: #444;
  padding: 10px;
  color: #fff;
}

.margin-shorthand {
  margin: 5px 10px 15px 20px;
  background-color: #666;
}

/* 30 - box model */
.box-model {
  margin: 20px;
  padding: 15px 25px;
  border: 3px solid #845;
  border-radius: 7px;
  width: 200px;
  height: 300px;
  box-sizing: border-box;
}

/* 31 - text alignment */
.text-aligned {
  text-align: right;
}

.container-center {
  border: 2px solid #0f0;
  text-align: center;
  width: 300px;
}

/* 32 - text decoration */
.underline {
  text-decoration: underline;
}

.line-trough {
  text-decoration: line-through;
}

.remove-underline {
  text-decoration: none;
  color: #f00;
}

/* 33 - text transform */
.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

/* 34 - letter-spacing (espaçamento de letra) */
.spacing {
  letter-spacing: 14px;
}

/* 35 - fontes */
.serif {
  font-family: Georgia;
}

.sans-serif {
  font-family: Helvetica;
}

.monospace {
  font-family: "Courier New";
}

.cursive {
  font-family: cursive;
}

.fantasy {
  font-family: fantasy;
}

/* 36 - esilo das fontes */
.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

/* 37 - peso da fonte */
.thin,
.bold,
.bolder {
  font-family: Helvetica;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

/* 38 - tamanho da fonte */
.small {
  font-size: 10px;
}

.big {
  font-size: 78px;
}